body {
   background-color: #111111;
   color: #BBBBBB;
   font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
h1 {
   text-align: center;
}
input {
   background-color: #000000;
   color: #0090D0;
}
a:link {
   color:#1166BB;
}
a:visited {
   color:#1188BB;
}
a:hover {
   color:#666666;
}
a:active {
   color:#DDDDDD;
}

