body {
   background-color: #111111;
   color: #BBBBBB;
   font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
h1 {
   text-align: center;
}
input {
   background-color: #000000;
   color: #0090D0;
}
a:link {
   color:#1166BB;
}
a:visited {
   color:#1188BB;
}
a:hover {
   color:#666666;
}
a:active {
   color:#DDDDDD;
}
table {
   border-collapse: collapse;
}
td {
   padding: 5px;
}
td.column_narrow {
   max-width: 500px;
}
tr:nth-child(2n) {
   background: #222;
}
tr:nth-child(2n+1) {
   background: #333;
}
tr:nth-child(1) {
   border-bottom: 1px solid #888;
}
